<%- include part/header.ejs %>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>What do you want to be?</h1>
                <br /><br /><br />
                 <div class="col-lg-8 col-lg-offset-2">
                    <div class="input-group">
                      <input type="text" id="search" class="form-control" placeholder="I want to be a...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" id="go" type="button"><strong>GO</strong></button>
                      </span>
                    </div>
                  </div>
                  <br/><br/><br/><br/><br/>
                  <div>
                <a href="#about" class="btn btn-primary btn-xl page-scroll" id="unsure" style="font-size:18px;">Unsure about what you want to be?</a>
                </div>
            </div>
        </div>
    </header>

    <script>
      $("#unsure").click(function() { window.location.redirect("/find");});
      $("h1").fitText(1.2, { minFontSize: '35px', maxFontSize: '65px' });

      var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
          var matches = [];
          var substrRegex = new RegExp(q, 'i');
          $.each(strs, function(i, str) {
            if (substrRegex.test(str)) matches.push(str);
          });
          cb(matches);
        };
      };
       
      var states = [<% data.forEach(function(d) { %>
                      '<%= d.title %>',
                    <% }); %>];

      var lookup = [];
        <% data.forEach(function(d) { %>
          lookup['<%= d.title %>']= <%= d.id %>;
        <% }); %>;

      $("#go").click(function() { 
        if(states.indexOf($("#search").val()) != -1) {
          window.location.redirect("/people/"+ lookup[$("#search").val()]);
        }
      });
       
      $('#search').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      }, {
        name: 'states',
        source: substringMatcher(states)
      });

    </script>

<%- include part/footer.ejs %>