<%- include part/header.ejs %>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css">
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

<div style="width:100%;margin: 40px auto; height:34px;background:#fff87e;text-align:center;color:#111;vertical-align:center;">
      <h3>The <strong>University of York</strong> sponsors this page.</h3>
</div>

<div class="uni-header"><div class="wrapper">
<div class="inner">

<div class="header-text" style="font-size:34px;text-align:center;">
    <span>The best <strong>universities</strong>  in the UK for becoming <%= data.pre %> <strong><%= data.title %></strong>.</span><br/>
    
</div>

</div></div></div>

<div class="inner" id="demo" style="margin-top:20px;"><table cellpadding="0" cellspacing="0" border="0" class="display" id="example"></table></div>

<script>
var dataSet = [[<%- data.table0 %>], 
                [<%- data.table1 %>],
                [<%- data.table2 %>],
                [<%- data.table3 %>],
                [<%- data.table4 %>],
                [<%- data.table5 %>],
                [<%- data.table6 %>],
                [<%- data.table7 %>],
                [<%- data.table8 %>],
                [<%- data.table9 %>]];
 
$(document).ready(function() {
    $('#example').dataTable( {
        "data": dataSet,
        "columns": [
            { "title": "2015 #" },
            { "title": "2014 #" },
            { "title": "University" },
            { "title": "Average Graduate Salary", "class": "center" },
            { "title": "More information", "class": "right" }
        ]
    } );   
});
</script>

<%- include part/footer.ejs %>